* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 13px;
}

.container {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 327px;
}
.container .user-box {
  padding: 23px 30px;
  padding-right: 25px;
  border-radius: 15px;
}
.container .user-box .user-container {
  height: 32px;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.container .user-box .user-container img {
  border-radius: 50%;
}
.container .user-box .user-container .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.container .user-box .user-container .userInfo h1 {
  color: hsl(0, 0%, 100%);
}
.container .user-box .user-container .userInfo p {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.8em;
}
.container .user-box .user-test {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container .user-box .user-test h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.6em;
  font-weight: 600;
}
.container .user-box .user-test p {
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 1.1em;
  line-height: 1.3em;
}
.container #daniel {
  background: url(./images/bg-pattern-quotation.svg) right 24px top 0 no-repeat;
  height: 444px;
  background-color: hsl(263, 55%, 52%);
}
.container #daniel img {
  border: 2px solid hsl(264, 47%, 67%);
}
.container #jonathan {
  height: 240px;
  background-color: hsl(217, 19%, 35%);
}
.container #jeanette {
  height: 222px;
  background-color: hsl(0, 0%, 100%);
}
.container #jeanette .user-container .userInfo h1 {
  color: hsl(208, 7%, 35%);
}
.container #jeanette .user-container .userInfo p {
  color: hsla(208, 7%, 35%, 0.5);
}
.container #jeanette .user-test h2 {
  color: hsl(208, 7%, 35%);
}
.container #jeanette .user-test p {
  color: hsla(208, 7%, 35%, 0.3);
}
.container #patrick {
  height: 384px;
  background-color: hsl(219, 29%, 14%);
}
.container #patrick img {
  border: 2px solid hsl(264, 47%, 67%);
}
.container #kira {
  height: 438px;
  background-color: hsl(0, 0%, 100%);
}
.container #kira .user-container .userInfo h1 {
  color: hsl(208, 7%, 35%);
}
.container #kira .user-container .userInfo p {
  color: hsla(208, 7%, 35%, 0.5);
}
.container #kira .user-test h2 {
  color: hsl(208, 7%, 35%);
}
.container #kira .user-test p {
  color: hsla(208, 7%, 35%, 0.3);
}
.container #kira .user-test {
  padding-right: 14px;
}
.container #kira .user-test p {
  font-size: 0.8rem;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1111px;
    height: 573px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .container .user-box {
    box-shadow: 1px 1px 4px lightgray;
  }
  #daniel {
    background: url(./images/bg-pattern-quotation.svg) right 80px top 0 no-repeat !important;
    background-color: hsl(263, 55%, 52%) !important;
    height: 100% !important;
    grid-column: 1/3;
  }
  #daniel .user-test p {
    font-size: 0.8rem !important;
    padding-right: 25px;
  }
  #jonathan {
    height: 100% !important;
  }
  #jonathan .user-test p {
    font-size: 0.8rem !important;
    padding-right: 25px;
  }
  #jeanette {
    height: 100% !important;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #jeanette .user-test p {
    font-size: 0.8rem !important;
    padding-right: 25px;
  }
  #patrick {
    height: 100% !important;
    grid-column: 2/4;
  }
  #patrick .user-test p {
    font-size: 0.8rem !important;
    padding-right: 25px;
  }
  #kira {
    height: 100% !important;
    grid-column: 4/5;
    grid-row: 1/3;
  }
  #kira .user-test p {
    font-size: 0.8rem !important;
  }
}/*# sourceMappingURL=style.css.map */